body{
    background: #f7f7f7;
}
.topo{
    border: 2px solid red;
    border-radius: 50px;
}

#titulo, .subtitulo, .posttitulo{
    color: blueviolet

}
.posttitulo{
    font-size: 16;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
}

.post{
    background: whitesmoke;
    padding: 15px;
    border: 3px dashed black;
    margin-bottom: 15px; 
    border-radius: 5px;
}

.conteudo{
    margin: 0;
    margin-bottom: 15px;
    color: green;
   
}

.sorvete{
    margin-bottom: 15px;
}